<a href="https://colab.research.google.com/github/shashikant97gupta/Sample-Python-Projects/blob/master/Shashikant_Lannet_Submission_Assign1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
# import numpy as np
import datetime

sf = pd.read_csv("/content/drive/My Drive/Colab Notebooks/parc_csv_lannet.csv") ## importing csv file
# sf.info()
# print(sf.head(30))

# print(column_list)
sf = sf.dropna(how='any',axis=0)  ## dropping the rows containing null values because its better to avoid null date time values 
ssf = sf.select_dtypes(exclude=['int64','float64'])  ### getting the columns that have no int or float dtype
# print(ssf)

column_list = ssf.columns ## getting the ssf dataframe colume names

for i in column_list:  ## attempting to convert the other dtype to datetime type
    try:
        
        sf[i] = pd.to_datetime(ssf[i])

    except:
        continue

# print(sf.head(30))
# print(sf.info())

onlydate = sf.select_dtypes(include=['datetime64'])  ## taking only datetime type columns
onlydate_col = onlydate.columns

# print(onlydate_col)

for i in range(len(onlydate_col)-1): ## looping to get every combination of columns
    for j in range(i+1 ,len(onlydate_col) ):
        try:
            sf[((onlydate_col[i])+ '-' + (onlydate_col[j]))] = sf[(onlydate_col[i])] - sf[(onlydate_col[j])]  ## subtracting the value and storing in new column
        except:
            break
print(sf.head(30))
print(sf.info())

       date_1  max_temp  precip  ... date_2-date_3 date_2-date_4 date_3-date_4
0  2018-07-01        87    0.00  ...       26 days       -1 days      -27 days
1  2018-07-02        92    0.00  ...       26 days       -1 days      -27 days
2  2018-07-03        90 -999.00  ...       26 days       -1 days      -27 days
3  2018-07-04        87    0.00  ...       26 days       -1 days      -27 days
4  2018-07-05        84    0.24  ...       26 days       -1 days      -27 days
5  2018-07-06        87    0.00  ...       26 days       -1 days      -27 days
7  2018-07-08        96    0.00  ...       26 days     -302 days     -328 days
9  2018-07-10        97    0.00  ...      358 days      331 days      -27 days
10 2018-07-11        95    0.00  ...      358 days      331 days      -27 days
11 2018-07-12        92    0.05  ...      358 days      331 days      -27 days
12 2018-07-13        88    0.00  ...      358 days      331 days      -27 days
13 2018-07-14        94    0.00  ...      358 days      331 days      -27 days
15 2018-07-16        85    0.02  ...      358 days      331 days      -27 days
16 2018-07-17        84 -999.00  ...      358 days      331 days      -27 days
17 2018-07-18        94 -999.00  ...      358 days      331 days      -27 days
18 2018-07-19        97    0.00  ...      358 days      331 days      -27 days
19 2018-07-20        94    0.00  ...      358 days      331 days      -27 days
20 2018-07-21        93    0.05  ...      358 days      331 days      -27 days
21 2018-07-22        94    0.11  ...      358 days      331 days      -27 days
22 2018-07-23        78    0.31  ...      358 days      331 days      -27 days
23 2018-07-24        86    0.11  ...      358 days      331 days      -27 days
24 2018-07-25        82    0.03  ...      358 days      331 days      -27 days
25 2018-07-26        81    0.07  ...      358 days      331 days      -27 days
26 2018-07-27        80    0.35  ...      358 days      331 days      -27 days
27 2018-07-28        77    0.01  ...      358 days      331 days      -27 days
28 2018-07-29        75    0.04  ...      358 days      331 days      -27 days
29 2018-07-30        77    0.00  ...      358 days      331 days      -27 days
30 2018-07-31        84    0.00  ...      358 days      331 days      -27 days

[28 rows x 13 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 30
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date_1         28 non-null     datetime64[ns]
 1   max_temp       28 non-null     int64
 2   precip         28 non-null     float64
 3   date_2         28 non-null     datetime64[ns]
 4   date_3         28 non-null     datetime64[ns]
 5   date_4         28 non-null     datetime64[ns]
 6   city_name      28 non-null     object
 7   date_1-date_2  28 non-null     timedelta64[ns]
 8   date_1-date_3  28 non-null     timedelta64[ns]
 9   date_1-date_4  28 non-null     timedelta64[ns]
 10  date_2-date_3  28 non-null     timedelta64[ns]
 11  date_2-date_4  28 non-null     timedelta64[ns]
 12  date_3-date_4  28 non-null     timedelta64[ns]
dtypes: datetime64[ns](4), float64(1), int64(1), object(1), timedelta64[ns](6)
memory usage: 3.1+ KB
None